// colors
$black: #000;
$white: #fff;
$gray-alpha: #b9b9b9;
$yellow: #ffff00;

// Font Sizes
$font-size-xsmall: 18px;
$font-size-small: 22px;
$font-size-medium: 26px;
$font-size-large: 30px;
$font-size-xlarge: 38px;
$font-size-xxlarge: 48px;
$font-size-xxxlarge: 62px;

// fonts
$primary-ffamily: "Avenir", Helvetica, Arial, sans-serif;
$secondary-ffamily: "LibreBaskerville", times;
$secondary-ffamily-bold: "LibreBaskerville-Bold", times;
$secondary-ffamily-italic: "LibreBaskerville-Italic", times;

@font-face {
  font-family: "LibreBaskerville";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf") format("ttf");
}
