// colors
$black: #000;
$white: #fff;
$yellow: #ffff00;

$gray-alpha: #d3d3d3;
$gray-beta: #999;
$gray-gama: #666;
$gray-delta: #333;

// Font Sizes
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 28px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 34px;
$font-size-xxxlarge: 42px;

// fonts
$primary-ffamily: "Playfair Display", serif;
$body-ffamily: "LibreBaskerville", times;
$body-ffamily-bold: "LibreBaskerville-Bold", times;
$body-ffamily-italic: "LibreBaskerville-Italic", times;

$bold-ffamily: "Anton", sans-serif;

@font-face {
  font-family: "LibreBaskerville";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("/assets/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf") format("ttf");
}
