@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";
@import "@/styles/media-queries.scss";

$code-card-height: 300px;
$code-card-bgcolor: $black;
$code-card-fcolor: $black;
$code-card-bordcolor: $black;

$code-card-fcolor-dark: $white;
$code-card-bordcolor-dark: $black;

.home-page {
  padding-top: 30px;
  @include flx-center();
  flex-flow: column wrap;

  .main-content {
    @include flx-center();
    flex-flow: column wrap;

    .home-page__intro {
      width: 100%;

      p {
        text-align: justify;
        font-family: $body-ffamily;
        margin: 40px 0 0 0;
        font-size: 20px;
      }
    }

    min-width: 280px;
    max-width: 800px;
    width: 280px;
    width: 85%;

    @include small-up {
      width: 90%;
    }

    @include large-up {
      justify-content: start;
      padding: 5%;
    }
  }

  .code-experiments {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 30px 0;
  }
}

.experiment-container {
  height: $code-card-height;
  width: 100%;
  margin: 3% 0;

  box-shadow: 1px 1px 10px $gray-alpha;

  &:last-child {
    margin-bottom: 0;
  }

  @include small-up {
    margin: 3% 0;
    width: 50%;
  }

  @include medium-up {
    margin: 3%;
    width: 50%;

    &:first-child {
      margin-top: 3%;
    }

    &:last-child {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  }

  .experiment {
    height: 100%;

    &__description {
      display: none;
    }
  }
}
