<div class="home-page page">
  <section class="home-page__header">
    <header>
      <h1>Code Experiments</h1>
      <h2>By Daniel Zamorano</h2>
    </header>
  </section>

  <div class="main-content">
    <section class="home-page__intro">
      <p>
        These are some code experiments that I made to learn technologies I was interested in.
      </p>
    </section>

    <section class="code-experiments">
      <div
        class="experiment-container theme-light"
        v-for="(code, index) in codeExperiments"
        v-bind:key="index"
      >
        <div class="experiment">
          <h4 class="experiment__name">{{ code.name }}</h4>
          <div class="experiment__description">
            <a href="{{code.repoUrl}"> Github Repo </a>
            <p>{{ code.description }}</p>
            <ul>
              <li v-for="(tag, index) in code.tags" v-bind:key="index">{{ tag }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
